<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style media="screen">
    .box img{

    }
  </style>
  <body>

    <% include partials/header %>
    <h1>hello</h1>

    <div class="box">
      <%/* users.forEach (user => { %>
        <p><%= user.username %></p>
        <p><%= user.email %></p>
        <p><%= user.bio %></p>
        <img src="<%= data:image/jpeg;base64 || data:image/svg+xml;base64, user.image %>" alt="" />
      <% }) */%>
    </div>
  </body>
</html>
